#first {
  width: 100px;
  height: 100px;
  background-color: crimson;
}
#second {
  width: 100px;
  height: 100px;
  background-color: rgb(97, 20, 220);
}
#third {
  width: 100px;
  height: 100px;
  background-color: rgb(220, 143, 20);
}
