body {
  margin: 0;
  padding: 0;
}

form {
  background-color: bisque;
  border-radius: 5%;
  width: 1000px;
  margin: auto;
  padding: 10px;
}

h1 {
  text-align: center;
}

form > div {
  width: 50%;
  margin: auto;
}

input[type="text"],
input[type="email"],
input[type="radio"],
textarea,
select {
  display: block;
  border: 2px solid black;
  width: 80%;
  padding: 10px;
}

input[type="submit"] {
  text-decoration: none;
  display: block;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: crimson;
  color: white;
  font-size: large;
}

input[type="submit"]:hover {
  background-color: rgba(220, 20, 60, 0.496);
}
