html {
    font-size: 2em;
}

section {
    font-size: 2em;
}

p {
  color: rgb(100, 100, 150);
  font-size: 4r-0987tem;
}

/* em: relative to font-size of parent element
rem: relative to font-size of root element */
